@import "~leaflet/dist/leaflet.css";
@import "~react-leaflet-markercluster/dist/styles.min.css";

// ErrorState.tsx and EmptyState.tsx
.EmptyState,
.ErrorState {
  height: 100%;
  text-align: center;

  &-cardBody {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-cardSection {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;

    code {
      display: block;
      padding: 10px;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-family: Monaco, "Courier New", monospace;
      overflow-x: auto;

      // For inline code-tags within ListItem
      &[class*="inline"] {
        display: inline;
        padding: 1px 2px;
        background-color: #efefef;
        font-size: 90%;
        border-radius: 4px;
      }
    }
  }
}

.ErrorState-headingText {
  color: darkgrey;
}

// custom tooltip styles (Region.tsx)
.custom-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  color: black;
  font-weight: bold;
}

// custom popup styles (LocationPopup.tsx)
.popup-grid {
  display: grid;
  grid-template-columns: auto auto; /* Two columns: one for labels, one for values */
  column-gap: 10px; /* Space between columns */
  align-items: center;
}

.popup-label {
  font-weight: bold;
}

// custom marker (cluster) styles (utils/map.tsx)
.marker-cluster-custom {
  background-clip: padding-box;
  border-radius: 50%; // Makes it circular

  div {
    // width: 40px; // Outer diameter
    // height: 40px;
    margin-top: -20px; // Half of height to center it
    margin-left: -20px; // Half of width to center it
    text-align: center;
    border-radius: 50%; // Makes it circular
    line-height: 42px; // Centers the text vertically
    color: #ffffff; // Text color
    background-color: inherit; // Slightly darker green with some transparency
    position: absolute;
    top: 50%;
    left: 50%;

    &.innerPie {
      width: 42px;
      height: 42px;
      line-height: 42px;
      top: 26px;
      left: 26px;
    }

    &.outerPie {
      width: 54px;
      height: 54px;
    }
  }

  span {
    font-size: 1em;
  }
}

// custom marker (single) styles (utils/map.tsx)
.custom-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-clip: padding-box;
  border-radius: 50%; // Makes it circular

  div {
    width: 42px; // Outer diameter
    height: 42px;
    line-height: 42px; // Centers the text vertically
    color: white; // Text color
    border-radius: 50%; // Makes it circular
    font-size: 12px; // Adjust as needed
    background-color: inherit; // Takes color from the inline style

    span {
      font-size: 1em;
    }
  }
}

.custom-marker-icon-svg {}
