@import "~leaflet/dist/leaflet.css";
@import "~react-leaflet-markercluster/dist/styles.min.css";

// ErrorState.tsx and EmptyState.tsx
.EmptyState,
.ErrorState {
  height: 100%;
  text-align: center;

  &-cardBody {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.ErrorState-headingText {
  color: darkgrey;
}

.queryHelpText {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

// custom tooltip styles (Region.tsx)
.custom-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  color: black;
  font-weight: bold;
}

.queryHelpText li {
  margin-left: 1em;
}

// custom popup styles (LocationPopup.tsx)
.popup-grid {
  display: grid;
  grid-template-columns: auto auto; /* Two columns: one for labels, one for values */
  column-gap: 10px; /* Space between columns */
  align-items: center;
}

.popup-label {
  font-weight: bold;
}

// custom marker (cluster) styles (utils/map.tsx)
.marker-cluster-custom {
  background-clip: padding-box;
  border-radius: 50%; /* Makes it circular */
}

.marker-cluster-custom div {
  width: 40px; /* Outer diameter */
  height: 40px;
  margin-top: -20px; /* Half of height to center it */
  margin-left: -20px; /* Half of width to center it */

  text-align: center;
  border-radius: 50%; /* Makes it circular */
  line-height: 40px; /* Centers the text vertically */
  color: #ffffff; /* Text color */
  background-color:inherit; /* Slightly darker green with some transparency */
  // box-shadow: 0 0 0 8px #cc39c04d; /* Creates the outer ring */
  position: absolute;
  top: 50%;
  left: 50%;
}

// custom marker (single) styles (utils/map.tsx)
.custom-marker-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-clip: padding-box;
  border-radius: 50%; /* Makes it circular */
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1); /* Outer ring */
}

.custom-marker-icon div {
  width: 40px; /* Outer diameter */
  height: 40px;
  line-height: 40px; /* Centers the text vertically */
  color: white; /* Text color */
  border-radius: 50%; /* Makes it circular */
  font-size: 12px; /* Adjust as needed */
  background-color: inherit; /* Takes color from the inline style */
}
